*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: $color-text;
  background: $black;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.appBody {
  margin: 1rem auto;
  padding: 0px 1rem;
  font-weight: normal;
}

.text-gradient {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cursor-pointer {
  cursor: pointer;
}

.fit-content {
  width: fit-content;
}

.form-range {
  height: 0.2rem;
}

.primary-text-hover:hover {
  color: $primary;
}

.coloredRail {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0;
  height: 0.5rem;
  background-color: $primary;
  border-radius: 1rem;
  pointer-events: none;
}

.rangeStep {
  position: absolute;
  top: -20px;
  margin: 0;
  padding: 0px 3px;
  pointer-events: none;
  background-color: $black-medium;
  border-radius: 20%;
  z-index: 9;
}

a,
.green {
  text-decoration: none;
  color: $secondary;
  transition: 0.4s;
}

.navbar {
  background-color: $black-soft !important;
  color: $color-text-dark-light !important;
}

.rating-placeholder {
  height: 1.7rem;
  width: 50px;
}

.rating-placeholder > * {
  height: 97%;
}

.placeholder-upcomingMovie {
  min-height: 400px;
}

.upcoming-no-placeholder {
  width: 2rem;
}

.placeholder-specialEvent {
  height: 70px;
}

.offcanvas {
  background-color: $black;
  color: $color-text-dark-light;
}

.offcanvas-header {
  background-color: $black-medium;
}

.card {
  background-color: $black-medium;
}

.card-header {
  background-color: transparent !important;
}

.card-footer {
  background-color: $secondary-background;
  border: 0px;
}

.cinema-item {
  flex: 0 1 24%;
  overflow: hidden;
}

.film-item-no-hover {
  overflow: hidden;
  height: 100%;
  border: 0px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.5s ease;
  position: relative;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(20px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.saying {
  height: 150px
}

.loading-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag-outlined {
  border: 1px solid $secondary; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  border-radius: 0.5rem;
}

.tag-square {
  border: 1px solid $secondary; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  color: $black;
  background-color: $secondary;
}

.is-outdoor {
  color: $yellow;
}

.scrollToTopButton {
  z-index: 3;
  position: fixed;
  bottom: 50px;
  right: 50%;
  transform: translate(50%, 50%);
  background: $gradient-sat;
}

.cinema-details {
  max-width: fit-content;
  margin: auto;
}

.list-group-inside {
  width: fit-content;
  max-height: 70vh;
  z-index: 2;
  position: absolute;
  overflow-y: auto;
  background-color: #202020;
  right: 10px;
  padding: 1rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(80, 80, 80);
}

.list-header {
  &:hover h5 {
    color: $primary;
  }
}

.search-input {
  border: none;
  border-radius: 7px;
  width: 100%;
  padding: 8px 18px;
  background-color: $black-highlight;
}

.search-input:focus {
  outline: none;
}

.search-container {
  width: fit-content;
  margin: 5px;
}

.search-container-100 {
  width: 100%;
  margin-bottom: 5px;
}

.btn-reset-search {
  position: absolute;
  right: 7px;
  top: 8px
}