$theme-colors: (
  "primary": #BB86FC,
  "secondary": #03DAC6,
);

$black: #121212;
$black-medium: #1F1F1F;
$black-soft: #313131;
$black-highlight: #2c2c2c;
$color-text: rgba(235, 235, 235, 0.64);
$color-text-dark-light: rgba(240, 240, 240, 0.77);

$yellow: #b5b500;

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: $black;
  --vt-c-black-medium: $black-medium;
  --vt-c-black-soft: $black-soft;
  --vt-c-black-highlight: $black-highlight;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root {
  --color-background: $black;
  --color-background-medium: $black-medium;
  --color-background-soft: $black-soft;

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);
  --color-heading: var(--vt-c-text-dark-1);
  --color-text: $color-text;
}

@import 'bootstrap/scss/bootstrap';

[data-bs-theme=dark] {
  --bs-body-bg: $black-medium;
  --bs-body-color: $color-text;
}

@import './custom.scss';