$body-bg: var(--color-background);
$body-color: var(--color-text);

$offcanvas-bg: var(--color-background-soft);
$offcanvas-header-color: var(--color-heading);
$btn-close-color: var(--color-text);
$btn-close-opacity: 1;