$primary-background: #2F2142;
$primary-sat: #8b2cff;
$primary: #BB86FC;
$primary-low-opacity: #BB86FC82;

$secondary-background: #142f2c;
$secondary-sat: #00685e;
$secondary: #03DAC6;
$secondary-low-opacity: #03DAC67D;

$black: #121212;
$black-medium: #1F1F1F;
$black-highlight: #242424;
$black-soft: #313131;

$color-text: rgba(240, 240, 240, 0.8);
$color-text-dark-light: rgba(240, 240, 240, 0.9);

$yellow: #c4c400;

$gradient: linear-gradient(45deg, $primary, #697dd6, $secondary);
$gradient-sat: linear-gradient(45deg, $primary-sat, #3857e6, $secondary);